<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
      var datas = '<%- datas %>';
      console.log(datas);
      console.log(JSON.parse(datas));
      var dataArr = JSON.parse(datas);
      window.onload = function() {
        console.log("onload....");
        var listTable = document.getElementById('listTable');
        var str = "";
        for (var i = 0; i < dataArr.length; i++) {
          str += "<tr>";
          str += "<td>";
          str += "<a href='update?_id="+dataArr[i]._id+"'>"
          str += dataArr[i]._id;
          str += "</a>";
          str += "</td>";
          str += "<td>";
          str += dataArr[i].id;
          str += "</td>";
          str += "<td>";
          str += dataArr[i].pw;
          str += "</td>";
          str += "<td>";
          str += "<a href='deleteOK?_id="+dataArr[i]._id+"'>"
          str += "delete";
          str += "</a>";
          str += "</td>";
          str += "</tr>";
        }
        listTable.innerHTML = str;
      };
    </script>
  </head>
  <body>
    <%- include('menu')%>
    <table border="1">
      <thead>
        <tr>
          <th>_ID</th>
          <th>ID</th>
          <th>PW</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="listTable">

      </tbody>
      <% JSON.parse(datas).forEach(function(vo,index){ %>
        <tr>
          <td><a href="update?_id=<%=vo._id %>"><%=vo._id %></a></td>
          <td><%=vo.id %></td>
          <td><%=vo.pw %></td>
          <td><a href="deleteOK?_id=<%=vo._id %>">deleteOK</a></td>
        </tr>
      <% }); %>
    </table>
  </body>
</html>
